.HPBar {
  position: relative;
  border-radius: 1em;
  border: inset #fff 3px;
  overflow: hidden;
  min-height: 10px;
  height: clamp(10px, 1em + 4px, 50px);
  max-height: 50px;
  margin: 4px;
  padding: 2px;
  background-color: #000;

  .smooth-hp,
  .hp,
  .cdp {
    position: absolute;
    border: none;
    overflow: hidden;
    margin: 0;
    left: 0;
    transition: width 1s ease-in-out;
  }

  .smooth-hp {
    background-color: #fff;
    z-index: 0;
  }

  .hp {
    background-color: #f44;
    z-index: 10;
  }

  .smooth-hp,
  .hp {
    border-radius: 1em;
    top: 0;
    bottom: 0;
  }

  .cdp {
    border-radius: 1em;
    background-color: #000;
    top: 30%;
    bottom: 30%;
    z-index: 20;
  }

  .overlay {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-content: space-evenly;
    justify-content: space-evenly;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: none;
    overflow: hidden;
    margin: 0;
    z-index: 1000;
    padding: 2px;

    div {
      flex-basis: 0;
      flex-grow: 1;
      text-align: center;
    }
  }
}
