.HPBar {
  position: relative;
  border: solid 2px #fff;
  border-radius: clamp(2px, 25%, 12px);
  overflow: hidden;
  min-height: 10px;
  height: clamp(10px, 20%, 50px);
  max-height: 50px;
  padding: 0;
  background-color: #aaa;
  box-shadow: #aaa 1px 1px 4px 2px;

  .smooth-hp,
  .hp,
  .cdp {
    position: absolute;
    border: none;
    overflow: hidden;
    margin: 0;
    left: 0;
    transition: width 1s ease-in-out;
  }

  .smooth-hp {
    background-color: #fff;
    z-index: 0;
  }

  .hp {
    background-color: #f44;
    z-index: 10;
  }

  .smooth-hp,
  .hp {
    border-radius: clamp(2px, 25%, 12px);
    top: 0;
    bottom: 0;
  }

  .cdp {
    border-radius: clamp(2px, 25%, 12px);
    background-color: #000;
    top: 30%;
    bottom: 30%;
    z-index: 20;
  }
}
