.Game {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template:
    "events entities" 10fr
    "self target" 3fr
    "queue queue" 1fr
    / 1fr 1fr;

  .events {
    grid-area: events;
  }

  .entities {
    grid-area: entities;
  }

  .self {
    grid-area: self;
  }

  .target {
    grid-area: target;
  }

  .queue {
    grid-area: queue;
  }
}
