.Game {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template:
    "events entities" 10fr
    "self target" 3fr
    "queue queue" 1fr
    / 1fr 1fr;
}

.events,
.entities,
.self,
.target,
.queue {
  display: flex;
  flex-direction: column;

  & > * {
    flex-grow: 1;
  }
}

.events {
  grid-area: events;
}

.entities {
  grid-area: entities;
}

.self {
  grid-area: self;
}

.target {
  grid-area: target;
}

.queue {
  grid-area: queue;
}

.Panel {
  margin: 3px;
  padding: 6px;
  max-height: 100%;
  border: solid 1px #999;
  border-radius: 6px;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-gutter: stable both-edges;
  scroll-behavior: smooth;
  box-shadow: #999 0px 0px 2px 1px;
}

.EntityDisplay {
  min-height: 1in;
}
