.Game {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template:
    "events dynamic" 10fr
    "self focus" 3fr
    "stances pinned" 1fr
    / 1fr 1fr;

  .events {
    grid-area: events;
  }

  .dynamic {
    grid-area: dynamic;
  }

  .self {
    grid-area: self;
  }

  .focus {
    grid-area: focus;
  }

  .stances {
    grid-area: stances;
  }

  .pinned {
    grid-area: pinned;
  }
}
