.EPBar {
  position: relative;
  border-radius: 1em;
  border: inset #fff 3px;
  overflow: hidden;
  min-height: 10px;
  height: clamp(10px, 1em + 4px, 2em);
  max-height: 2em;
  margin: 4px;
  padding: 2px;
  background-color: #000;

  .smooth-ep,
  .ep {
    position: absolute;
    border: none;
    overflow: hidden;
    margin: 0;
    left: 0;
    transition: width 1s ease-in-out;
  }

  .smooth-ep {
    background-color: #fff;
    z-index: 0;
  }

  .ep {
    background-color: #44f;
    z-index: 10;
  }

  .smooth-ep,
  .ep {
    border-radius: 1em;
    top: 0;
    bottom: 0;
  }

  .overlay {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-content: space-evenly;
    justify-content: space-evenly;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: none;
    overflow: hidden;
    margin: 0;
    z-index: 1000;
    padding: 2px;

    div {
      flex-basis: 0;
      flex-grow: 1;
      text-align: center;
    }
  }
}
