.EntityPanel {
  position: relative;
  min-height: 19mm;
  transition: background-color 1s ease-in-out;

  .hotkey {
    position: absolute;
    top: 0;
    right: 0;
    margin: 2px;
    color: #bbb;
  }

  &.hostile {
    background-color: #522;
  }

  &.friendly {
    background-color: #224;
  }

  &.targetted {
    box-shadow: #fff 0px 0px 1px 1px;
  }

  .ActionBar {
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-color: #333 rgba(0, 0, 0, 0);
  }
}
