.App {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template:
    "events entities" 1fr
    "self target" max-content
    "queue queue" max-content
    / 1fr 1fr;
}

.events,
.entities,
.self,
.target,
.queue {
  display: flex;
  flex-direction: column;

  & > * {
    flex-grow: 1;
  }
}

.events {
  grid-area: events;
}

.entities {
  grid-area: entities;
}

.self {
  grid-area: self;
}

.target {
  grid-area: target;
}

.queue {
  grid-area: queue;
}

.Panel {
  margin: 2px;
  padding: 6px;
  max-height: 100%;
  border: solid 1px darkgray;
  border-radius: 2px;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-gutter: stable both-edges;
  scroll-behavior: smooth;
}

.EntityPanel {
  min-height: 2in;
}
