.HPBar {
  position: relative;
  border: solid 2px white;
  border-radius: clamp(2px, 25%, 12px);
  overflow: hidden;
  min-height: 10px;
  height: clamp(10px, 20%, 50px);
  max-height: 50px;
  padding: 0;
  background-color: darkgrey;

  .hp,
  .cdp {
    position: absolute;
    border: none;
    overflow: hidden;
    margin: 0;
    left: 0;
  }

  .hp {
    background-color: red;
    border-radius: clamp(2px, 25%, 12px);
    top: 0;
    bottom: 0;
    z-index: 0;
  }

  .cdp {
    background-color: black;
    top: 30%;
    bottom: 30%;
    z-index: 1;
  }
}
