html {
  font-family: monospace;
  background-color: black;
  color: white;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #333 black;
}

#root,
html,
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

div {
  margin: 0;
  padding: 0;
  min-width: 0;
  min-height: 0;
}

button {
  border-radius: 8px;
  margin: 3px;
  padding: 3px;
  font-family: monospace;
  background-color: #222;
  color: #fff;
  box-shadow: #fff 1px 1px 1px 1px;
  overflow: hidden;
  overflow-wrap: normal;
}
