html {
  font-family: monospace;
  background-color: black;
  color: white;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #333 black;
}

#root,
html,
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

div {
  margin: 0;
  padding: 0;
  min-width: 0;
  min-height: 0;
  max-width: 100%;
  max-height: 100%;
}
